.event-form-view {
  display: flex;
  flex-direction: column;
}

.event-form-container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 16px;
}

.event-form-container :deep(.page-header) {
  margin-bottom: 8px;
}

.event-form-container > :last-child {
  flex: 1;
}

.error-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-form-container__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
