.tt-phone-input .iti {
  width: 100%;
}

.tt-phone-input .iti input {
  width: 100%;
  height: 38px;
  padding: 0 12px;
  border: 1px solid #e6e7eb;
  border-radius: 10px;
  font-size: 14px;
  font-family: inherit;
  outline: none;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.tt-phone-input .iti input:hover {
  border-color: #1668cc;
}

.tt-phone-input .iti input:focus {
  border-color: #1668cc;
  box-shadow: 0 0 0 2px rgba(32, 128, 240, 0.2);
}

@media (max-width: 767px) {
  .tt-phone-input .iti input {
    height: 44px;
  }
}

.iti--container {
  max-width: 100vw;
}
